body {
    background-color: #F0F8FF;
    margin: 0 0 0 auto;
    padding: 0 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Titulo {
    color: #0e497d;
    margin-top: 100px;
}

#ft {
    text-align: center;
}



p {
    font-size: medium
}

#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    float: left;
    background: #0e497d;
}

.lista {
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: #fff;
}

ul .primeiro a {
    background: #3d81bd;
}

ul a:hover {
    color: #000;
    background: #74b7f1;
}

#ido .ido a {
    color: #000;
    background: #3d81bd;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #0e497d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#corpo {
    margin-left: 50px;
    margin-right: 50px;
}