body{
    margin: 0;
    padding: 0;
}

.corpo{
    margin: 0 30px 30px 30px;
    text-align: left;
}

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        background: rgb(199, 58, 58);
        float: left;
    }

    ul li {
        float: left;
    }

    ul a {
        display: block;
        padding: 0 2em;
        line-height: 2.2em;
        text-decoration: none;
        color: #FFF;
        background: url(../imagens/divisor.png) repeat-y left top;
    }

    ul .primeiro a {
        background: none;
    }

    ul a:hover {
        color: #a11313;
        background: #de4444;
    }

    h1 {
        color: #323d4a;
        background-color: rgb(199, 58, 58);
        width: fit-content;
    }

    div {
        text-align: center;
    }

    .txt {
        width: 50%;
    }